VOTE_HOST=http://localhost:8080
VOTE_STATE=1000000
VOTE_OIDC_ID=develop
VOTE_JWT_SECRET=ahahaisdfjioThisShouldBeRandom
VOTE_OIDC_SECRET=no peeking (on wiki)
DEV_DISABLE_ACTIVE_FILTERS=true
DEV_FORCE_IS_EVALS=true
VOTE_CONDITIONAL_URL=https://conditional.csh.rit.edu/gatekeep
VOTE_TOKEN=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
VOTE_MONGODB_URI=mongodb://vote:c1f66aac6b4fafbef3c659371b8a50ed@mongodb/vote?authSource=admin
VOTE_ANNOUNCEMENTS_CHANNEL_ID=
VOTE_SLACK_APP_TOKEN=
VOTE_SLACK_BOT_TOKEN=
