{{ define "header.tmpl" }}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <title>CSH Vote</title>
      <!-- <link rel="stylesheet" href="https://themeswitcher.csh.rit.edu/api/get" /> -->
      <link
        rel="stylesheet"
        href="https://assets.csh.rit.edu/csh-material-bootstrap/5.3.8/dist/css/bootstrap.min.css"
        media="screen"
      />

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
              integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
              crossorigin="anonymous"></script>

      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">      
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <script src="https://assets.csh.rit.edu/csh-material-bootstrap/5.3.8/dist/js/color-modes.js"></script>
    </head>
    <body>
    <div id="theme-dropdown" class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle z-3">
        <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button"
                aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (dark)">
            <svg class="bi my-1 theme-icon-active" height="16" width="16" aria-hidden="true">
                <use href="#moon-stars-fill"></use>
            </svg>
            <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
          <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
              <svg class="bi me-2 opacity-50" height="16" width="16" aria-hidden="true">
                <use href="#sun-fill"></use>
              </svg>
                Light
              <svg class="bi ms-auto d-none" aria-hidden="true">
                <use href="#check2"></use>
              </svg>
            </button>
          </li>
          <li>
            <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="dark" aria-pressed="true">
              <svg class="bi me-2 opacity-50" height="16" width="16" aria-hidden="true">
                <use href="#moon-stars-fill"></use>
              </svg>
                Dark
              <svg class="bi ms-auto d-none" aria-hidden="true">
                <use href="#check2"></use>
              </svg>
            </button>
          </li>
          <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto" aria-pressed="false">
              <svg class="bi me-2 opacity-50" height="16" width="16" aria-hidden="true">
                <use href="#circle-half"></use>
              </svg>
                Auto
              <svg class="bi ms-auto d-none" aria-hidden="true">
                <use href="#check2"></use>
              </svg>
            </button>
          </li>
        </ul>
    </div>
    <nav class="navbar navbar-expand-lg bg-primary fs-4 py-4 py-lg-2 px-3">
      <div class="container-lg justify-content-start">
        <img class="object-fit-contain ms-2 me-2" height="32" src="https://assets.csh.rit.edu/pubsite/csh_logo_square.svg" />
        <a class="navbar-brand fs-4 text-light" href="/">Vote</a>
        <a class="nav navbar-nav nav-link fs-6 text-light px-3" href="/"><i class="bi bi-exclamation-circle-fill mx-1"></i> Open Polls</a>
          <a class="nav navbar-nav nav-link fs-6 text-light px-3" href="/closed"><i class="bi bi-exclamation-circle-fill mx-1"></i> Closed Polls</a>
          <a class="nav navbar-nav nav-link fs-6 text-light px-3" href="/create"><i class="bi bi-exclamation-circle-fill mx-1"></i> Create Poll</a>
          {{ if .IsEboard }}
            <a class="nav navbar-nav nav-link text-light px-3" href="/eboard"><i class="bi bi-exclamation-circle-fill mx-1"></i> Eboard</a>
          {{ end }}
        <div class="nav navbar-nav ms-auto">
          <div class="dropdown">
            <a class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="text-light me-2" id="profile-name"></span>
              <img id="profile-pic" class="rounded-circle" width="30px" height="30px" src="https://profiles.csh.rit.edu/image/{{.Username}}"/>
            </a>
            <ul class="dropdown-menu text-small">
              <li><a href="/auth/logout" class="dropdown-item">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
{{ end }}