    {{ template "header.tmpl" . }}
    
    <div class="main p-5 error-page align-center">
      <img id="lockdown" src="/static/material_lock.svg" alt="Attention!" />
      <br />
      <h2>The results are hidden!</h2>
      <p>Looks like you aren't allowed to see the results.</p>
      <p>
        Please contact the owner of this poll or a Root Type Person if you think
        this is an error.
      </p>
    </div>
  </body>
</html>
