    {{ template "header.tmpl" . }}
    
    <div class="main p-5 error-page text-center">
      <img id="lockdown" src="/static/material_lock.svg" alt="Attention!" width="256"/>
      <h1 class="my-4">The results are hidden!</h1>
      <p class="fs-4 my-3">Results of this poll are hidden until the poll closes.</p>
      <p class="fs-4">
        Please contact the owner of this poll or a Root Type Person if you think
        this is an error.
      </p>
    </div>
  </body>
</html>
