    {{ template "header.tmpl" . }}
    
    <div class="container main p-5">
      <h2>
        <div class="d-inline">Active Polls</div>
        <div class="d-inline float-right">
          <a class="btn btn-primary" role="button" href="/create">
            Create Poll
          </a>
        </div>
      </h2>
      <br />
      <div>
        <ul class="list-group">
          {{ range $i, $poll := .Polls }}
          <li>
            <a
              class="list-group-item list-group-item-action"
              href="/poll/{{ $poll.Id }}"
            >
              <span style="font-size: 1.1rem; white-space: normal; word-wrap: break-word;">
                {{ $poll.Title }}
              </span>

              <span
                ><i>(created by {{ $poll.CreatedBy }})</i></span
              >
            </a>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </body>
</html>
